body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ced4da;
}

.logo {
  display: flex;
  align-items: center;
  width: 200px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.username {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.search-bar {
  display: flex;
  width: 50%;
}

.search-bar input {
  width: 100%;
  flex: 9;
  padding: 0.5rem;
  border-bottom: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 0.5rem 1rem;
  flex: 1;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.logoutBtn {
  width: 100px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

aside {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #e9ecef;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

aside .route {
  margin-bottom: 15px;
}

aside .route a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  color: #495057;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
}

aside .route a:hover {
  background-color: #e9ecef;
}

aside .route a.active {
  background-color: #007bff;
  color: white;
}

aside .route a span {
  margin-right: 10px;
  font-size: 20px;
}

main {
  flex-grow: 1;
  display: flex;
  text-align: center;
  /* background-color: red; */
}

.newsletter-form {
  display: flex;
  margin-top: 1rem;
}

.newsletter-form input {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
}

.newsletter-form button {
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
